<h2 mat-dialog-title>{{data.name + ' ' + data.surname}}</h2>
<mat-dialog-content>

  <mat-divider></mat-divider>

  <div class="mt-2" [formGroup]="form">

    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>

  </div>

</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions class="mx-3 my-0 flex justify-between">
  <div>


  </div>

  <div>
    <button mat-flat-button (click)="onNoClick()">Cancel</button>
    <button mat-flat-button cdkFocusInitial color="primary" (click)="onSaveClick()">Save</button>
  </div>
</mat-dialog-actions>