<table mat-table [dataSource]="dataSource">
  <!-- ISBN Column -->
  <ng-container matColumnDef="isbn">
    <th mat-header-cell *matHeaderCellDef> ISBN </th>
    <td mat-cell *matCellDef="let element"> {{element.book.isbn}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="bookName">
    <th mat-header-cell *matHeaderCellDef> Book Name </th>
    <td mat-cell *matCellDef="let element"> {{element.book.title}} </td>
  </ng-container>

  <!-- Author Column -->
  <ng-container matColumnDef="authorName">
    <th mat-header-cell *matHeaderCellDef> Author </th>
    <td mat-cell *matCellDef="let element"> {{element.book.author.name}} {{element.book.author.surname}} </td>
  </ng-container>

  <!-- User Column -->
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef> User </th>
    <td mat-cell *matCellDef="let element"> {{element.user.name}} {{element.user.surname}} </td>
  </ng-container>

  <!-- BorrowDate Column -->
  <ng-container matColumnDef="borrowDate">
    <th mat-header-cell *matHeaderCellDef> Borrow Date </th>
    <td mat-cell *matCellDef="let element"> {{element.borrowedDate}} </td>
  </ng-container>

  <!-- DueDate Column -->
  <ng-container matColumnDef="dueDate">
    <th mat-header-cell *matHeaderCellDef> Due Date </th>
    <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
  </ng-container>

  <ng-container matColumnDef="not-found">
    <td mat-footer-cell *matFooterCellDef [colSpan]="tableColumns.length" class="flex justify-center align-center">
      Sonuç Bulunamadı.</td>
  </ng-container>

  @if (dataSource.length === 0 && !loading()) {

  <tr mat-footer-row *matFooterRowDef="['not-found']" class="flex"></tr>

  }


  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns;" [libraryBookAvailable]="row">
  </tr>
</table>