<p>
  Welcome to the Dashboard! {{ userStore().name }}
</p>

<div>

  <div class="table-header align-center flex">
    <p>Kitaplarım</p>
  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- ISBN Column -->
    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.book.name}} </td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let element"> {{element.book.author}} </td>
    </ng-container>

    <!-- Edition Column -->
    <ng-container matColumnDef="edition">
      <th mat-header-cell *matHeaderCellDef> Edition </th>
      <td mat-cell *matCellDef="let element"> {{element.book.edition}} </td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{element.book.year}} </td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>


    <!-- Year Column -->
    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef> Deadline </th>
      <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
    </ng-container>

    <ng-container matColumnDef="not-found">
      <td mat-footer-cell *matFooterCellDef [colSpan]="tableColumns.length" class="flex justify-center align-center">
        Sonuç Bulunamadı.</td>
    </ng-container>

    @if (dataSource.length === 0 && !loading()) {

    <tr mat-footer-row *matFooterRowDef="['not-found']" class="flex"></tr>

    }


    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  </table>

</div>