.example-container {
  width: auto;
  height: 100%;
  border: 1px solid #555;
  /* The background property is added to clearly distinguish the borders between drawer and main
     content */
  background: #eee;
}

mat-sidenav {
  width: 15%;
  padding: 2rem;
}

.content {
  padding: 2rem;
  height: 100%;
}